<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" lang="ru">

<head th:replace="fragments/head :: head"><title>Admin page</title></head>

<body>

<header th:replace="fragments/header :: header"></header>

<div class="container-fluid d-flex flex-row vh-100 p-0">

    <div th:replace="fragments/navigation :: navigation(currentPage='admin')"></div>

    <div class="flex-grow-1 bg-light p-3">
        <h1>Admin panel</h1>
        <div class="container-fluid">
            <nav>
                <div class="nav nav-tabs border-bottom-0" role="tablist">
                    <a class="nav-link active" data-toggle="tab" href="#nav-users_table"
                       role="tab" aria-controls="nav-users_table">Users table</a>
                    <a class="nav-link" data-toggle="tab" href="#nav-user_form"
                       role="tab" aria-controls="nav-user_form">New user</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">

                <div th:replace="fragments/tabpanel-all-users"></div>
                <div th:replace="fragments/tabpanel-new-user"></div>

            </div>
        </div>
    </div>
</div>


<div id="user-profile" class="modal fade">
    <div th:replace="fragments/user-form"></div>
</div>

<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script th:src="@{/js/modal.js}"></script>

</body>
</html>